CONFIG_ESP_MAIN_TASK_STACK_SIZE=2048

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=460800
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200

CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_NONE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH="main/cert.pem"

CONFIG_ESP_TIMER_TASK_STACK_SIZE=3584
CONFIG_TIMER_TASK_STACK_SIZE=3584

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_SPI_MASTER_IN_IRAM=y

CONFIG_TASK_WDT_PANIC=y

#IF THIS BUILD SHOULD BE USED FOR PRODUCTION REBOOT FROM PANIC HANDLER
#HALT THE CONTROLLE AND START A GDB STUB
#ONLY ONE OF THE TWO OPTIONS CAN BE ACTIVE
#CONFIG_ESP32S2_PANIC_GDBSTUB=y
CONFIG_ESP32S2_PANIC_PRINT_REBOOT=y